
<div *ngFor="let message of messages">
  {{message}}
</div>

Név: <input type="text" [(ngModel)]="user"/> <br>
Üzenet: <input type="text" [(ngModel)]="message"/><br>
<button (click)="sendMessage()">Küldés</button>
<router-outlet></router-outlet>
